.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 150px;
  left:1300px;
  background-color:#F3F0F0;
  overflow-x: scroll;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size:1rem;
  font-weight: bold;
  color: #39373779;
  display: block;
}

.sidenav a:hover {
  color: #61DAFB;
  font-size: 1rem;
}
/*
.main {
  margin-left: 198px; /* Same as the width of the sidenav 
  font-size: 28px; /* Increased text to enable scrolling 
  
  padding: 16px;
  margin-top: 45px
}



.main-header{
  background-color: #330033;
  margin-left: 190px; /* Same as the width of the sidenav 
  font-size: 28px; /* Increased text to enable scrolling 
  
}
*/

.App-logo {
  padding: 10px 8px 6px 30px;
  height: 15vmin;
  display: block;
}
/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/