.f {
    width: 100%;
    bottom: 0px;
    height: 30px;
    background-color: #212b36;
    color: rgb(124, 116, 116);
    position: relative;
    padding-top: 10px;
    align-items: center;
    text-align: center;
}