body {
    font-family: "Lato", sans-serif;
   /* background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
  */
    }
  
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size:12px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 198px; /* Same as the width of the sidenav */
    
    font-size: 28px; /* Increased text to enable scrolling */
    
    padding: 16px;
    margin-top: 45px
  }


  .main-header{
    background-color: #330033;
    margin-left: 190px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    
  }
  
  
.App-logo {
    padding: 10px 8px 6px 30px;
    height: 15vmin;
    display: block;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  
/* ******************* header   ****************************/
/*
.navbar {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
   
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #61dafb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
    
  }*/
  

  /*** DD **/

 
  
.nav ul {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
  }

  .nav ul li {
    float: left;
  }
  
  .nav ul li a, .dropbtn { 
      display: inline-block;
      font-size: 1.3rem;
    color: #61dafb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  .nav ul li a:hover, .dropdown:hover .dropbtn {
    background: #ddd;
    color: black;
  }
  
  .nav ul li.dropdown {
    display: inline-block;
  }
  
  .nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.1);
    z-index: 1;
  }
  
  .nav ul li .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }